/* style.css */

body {
    margin: 0;
    overflow: hidden; /* Empêche le scroll pendant l'expérience AR */
}

/* Cache le bouton "VR" par défaut de A-Frame qui est inutile ici */
.a-enter-vr-button {
    display: none;
}

/* Optionnel : Si tu veux personnaliser l'écran de chargement MindAR */
/* .mindar-ui-loading { ... } */