/* style.css */

/* On empêche le scroll car c'est une appli plein écran */
body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

/* L'écran de chargement (Loader) */
.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Le texte du chargement */
.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}