/* Fichier : style.css */

/* Configuration de base de la page */
body {
    margin: 0;
    overflow: hidden; /* Empêche le scroll pendant l'expérience AR */
    font-family: sans-serif;
}

/* Cache le bouton "VR" en bas à droite (inutile en AR sur téléphone) */
.a-enter-vr-button {
    display: none;
}

/* Optionnel : Si tu veux personnaliser l'écran de chargement "Loading..." */
.mindar-ui-loading .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #4B0082; /* Violet */
}